@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #081b29;
    color:#ededed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 57px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 15px;
}
.home-content .btn-box {
    width: 345px;
    height: 50px;
    background: yellowgreen;
}
.btn-box a {
    width: 150px;
    
}



















































/* 
@media screen {
    body {
        background: #f1f1f1;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #333;
        line-height:
        1.5;
        margin: 0;
        padding: 0;
    }

   .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0
    }

     */
/* } */




